.loginButton {
  font-size: medium;
  background-color: transparent;
  padding: 14px 38px;
  border-radius: 24px;
  color: #fff;
  border: 1.5px solid #fff;
  cursor: pointer;
  transition: all 0.4s;
}

.loginButton:hover {
  transform: scale(1.08);
  background-color: #fff;
  color: #0f0f0f;
}
