.container {
  width: 100%;
}

.content {
  background-color: #0f0f0f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentForm {
  max-width: 1024px;
  width: 100%;
  padding: 0 18px 18px;
  margin: 28px 0 0;
}

.title {
  color: #fff;
  margin: 0 0 8px;
}

.checkBoxArea label {
  margin: 0 0 0 8px;
  color: #fff;
}

.checkBoxArea {
  margin: 14px 0;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.button {
  width: 100%;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: #3183ff;
  padding: 12px 0;
  font-size: 18px;
}
